<div id="question"><h2>Which of the following elements aren’t introduced in HTML5?</h2><input id="choices-0" type="radio" name="choices" value="choices-0"><label for="choices-0">&lt;input&gt;</label><input id="choices-1" type="radio" name="choices" value="choices-1"><label for="choices-1">&lt;article&gt;</label><input id="choices-2" type="radio" name="choices" value="choices-2"><label for="choices-2">&lt;footer&gt;</label><input id="choices-3" type="radio" name="choices" value="choices-3"><label for="choices-3">&lt;hgroup&gt;</label></div>




<style>
*{
margin: 0px;
font: 16px 'Source Sans Pro', sans-serif;
border: none;
box-sizing: border-box;
padding: 20px;
background: #FAFAFA;
text-align: center;}


</style>
